*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: aqua;
    text-align: center;
}

.container{
    justify-content: center;
    align-items: center;
    height: 70vh;
    display: flex;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
    justify-content: center;
    align-items: center;
}

.button{
    height: 18vmin;
    width: 18vmin;
    border: 2px solid black;
    border-radius: 1rem;
    background-color: white;
    font-size: 8vmin;
    color: black;
}

#reset{
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
}

#new-btn{
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
}

#msg{
    font-size: 5vmin;
    margin-top: 1rem;
}

.hide{
    display: none;
}

.msg-container{
    height: 10vmin;
}

